# Django Environments
export SECRET_KEY="your-secret-key"
export DEBUG=true

# DB Environments
export DB_NAME="dbname"
export DB_USER="dbuser"
export DB_PASSWORD="dbpassword"
export DB_HOST="db"
export DB_PORT="5432"